langchain
langgraph
langchain-google-genai
langchain_groq
langchain_ollama

ollama

numpy
pandas

pymupdf
arxiv
pydantic

python-dotenv
requests
httpx
beautifulsoup4

fastapi
uvicorn

scikit-learn
grandalf